@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.form {
  /* width: 400px; */
  margin-right: 1%;
  margin-top: 13%;
  margin-left: 6%;
}

.form h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;

  letter-spacing: 0.003em;

  color: #121212;
}

.form__caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.007em;
  color: #aaaaaa;
}

.form_label {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  align-items: center;
  color: #4e4b66;
}

.form .form_control {
  background: #fcfdfe;

  /* border: 1px solid #dedede; */
  box-sizing: border-box;
  border-radius: 16px;
  padding: 5%;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.75px;
  color: #a0a3bd;
}

.d_grid .btn_ {
  height: 64px;
  width: 100%;
  border-radius: 16px;
  background-color: #5f2eea;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;

  text-align: center;
  letter-spacing: 0.75px;

  color: #f7f7fc;
}

.btn_:hover {
  background-color: #4209e0 !important;
  color: #ffffff !important;
}

.btn_:disabled {
  background-color: #4209e0 !important;
  color: #ffffff !important;
}

.form__additional {
  font-family: "Inter";
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 0.005em;

  text-align: center;
  color: #8692a6;
}

.form__additional a {
  color: #5f2eea;
}

.notif__login {
  color: red;

  font-family: "Inter";
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  letter-spacing: 0.005em;
}
