.booking_card {
  width: 100%;
  padding: 0px 24px 10px 24px;
  /* use this to change card size from component class */
}

.booking_card .card_img_top {
  width: 50%;
  object-fit: contain;
}

.card_title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  /* line-height: 32px; */
  line-height: 133%;

  letter-spacing: 0.75px;

  color: #000000;
}

.card_address {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  /* line-height: 18px; */
  line-height: 150%;
  /* or 150% */

  letter-spacing: 0.75px;

  color: #6e7191;
}

.card_booking {
  text-decoration: none;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  /* line-height: 23px; */
  line-height: 192%;
  /* identical to box height, or 192% */

  padding: 10px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;

  color: #4e4b66;
}

.card_price {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 32px; */
  line-height: 200%;
  /* identical to box height, or 200% */

  letter-spacing: 0.75px;

  color: #6b6b6b;
}

.card_seat {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */
  letter-spacing: 0.75px;

  color: #000000;
}

.card_footer {
  padding: 10px 0px;
}

.card_btn .btn_ {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.75px;

  background: #5f2eea;

  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
  border-radius: 4px;
}
