@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.banner__text {
  margin-top: 250px;
}

.banner__text h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #a0a3bd;
}

.banner__text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 70px;
  color: rgb(74, 76, 201);
}

.banner__image {
  margin: 100px 110px;
}

.image {
  margin-bottom: 50px;
}

.image__2 {
  margin-top: 50px;
}

.now__showing {
  background-color: #f5f6f8;
  padding: 64px 10%;
  padding-bottom: 104px;
}

.now__showing_title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.25px;

  color: #5f2eea;
}

.now__showing_link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-decoration: none;
  letter-spacing: 0.15px;

  color: #5f2eea;
}

.now__showing_accessories {
  height: 3px;
  width: 100px;
  border-radius: 20px;
  background-color: #5f2eea;
}

/* kurang scroll */

.now__showing_card_container .now__showing_card {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 32px;
}

.now__showing_card_container .now__showing_card_col {
  width: 25%;
}

.upcoming__movies {
  padding: 5% 10%;
}

.upcoming__movies_title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #14142b;
}

.upcoming__movies_link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  text-decoration: none;
  letter-spacing: 0.15px;

  color: #5f2eea;
}

.upcoming__movies_button_row {
  white-space: nowrap;
  overflow-x: hidden;
  padding-bottom: 20px;
}

.upcoming__movies_button_row:hover {
  overflow-x: auto;
}

.upcoming__movies_button_col {
  display: inline-block;
  margin: 0px 7px;
}

.upcoming__movies_button_col .btn_ {
  background: white;
  border-radius: 4px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #5f2eea;
  border-color: #5f2eea;
  width: 127px;
  padding: 12px 27px;
}

.upcoming__movies_button_col .btn_:hover {
  color: #ffffff;
  background: #5f2eea;
  box-shadow: 0px 8px 30px rgba(95, 46, 234, 0.3);
}

/* .upcoming__movies_card_container .row_ {
  
} */

.upcoming__movies_card_row {
  white-space: nowrap;
  overflow-x: hidden;
}

.upcoming__movies_card_row:hover {
  overflow-x: auto;
}

.upcoming__movies_card_col {
  display: inline-block;
}

.upcoming__movies_card {
  /* height: 452px; */
  /* width: 223px; */
  background-color: #ffffff;
  border: 0.5px solid #dedede;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 32px;
}

.upcoming__movies_card .card_img_top {
  height: 244px;
  /* width: 159px; */

  object-fit: contain;
  border-radius: 6px;
}

.upcoming__movies_card .card_title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  text-align: center;
  letter-spacing: 0.15px;
  color: #14142b;
}

.upcoming__movies_card .card_text {
  font-family: "Open Sans", sans-serif;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.4px;

  color: #a0a3bd;
}

.upcoming__movies_card .card_footer {
  background-color: white;
  border-top: 0;
  display: flex;
}

.card_footer .btn_ {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  height: 33px;
  width: 159px;
  border-radius: 4px;

  text-align: center;
  color: #5f2eea;
  border-color: #5f2eea;
}

.card_footer .btn_:hover {
  background-color: #5f2eea;
  color: white;
}

.card__join {
  height: 372px;
  margin: 80px 130px 200px 130px;
  text-align: center;
  align-items: center;
}

.card_title1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 114%;

  text-align: center;
  letter-spacing: 0.25px;

  color: #4e4b66;
}

.card_title2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #5f2eea;
}

.card__join_form .form_control {
  height: 53px;
  width: 306px;

  border: 2px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;

  letter-spacing: 0.75px;

  color: #a0a3bd;
}

.card__join_form .btn_ {
  height: 53px;
  width: 120px;
  border-radius: 4px;
  background-color: #5f2eea;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.5px;

  color: #ffffff;
}

.card__join .card_footer {
  background-color: white;
  border-top: 0;
}

.card__join .card_footer p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  margin: 0px;
  text-align: center;
  letter-spacing: 0.75px;

  color: #6e7191;
}
